<p id="notice"><%= notice %></p>
<%= render "new_post_button" %>
<hr />

<div id="post-content" class="container-fluid">
	<div class="row">
		<div class="col-lg-8 col-md-6 col-sm-12">
			<%= image_tag(@post.image_url, class: "img-responsive post-images") %>

			<h2 class="post-name">
				<%= @post.name %>
			</h2>

			<h3 class="post-description">
				<%= @post.description %>
			</h3>

			<p class="post-date">
				Submitted <%= time_ago_in_words(@post.created_at) %> ago
				<% if user_signed_in? %>
				| <%= link_to 'Edit', edit_post_path(@post) %> |
				  <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
			  <% end %>
			</p>

			<p class="post-body">
				<%= @post.body %>
			</p>

			<div id="comments">
				<h2><%= @post.comments.count %> Comments</h2>
				<%= render 'comments' %>

				<%= render 'new_comment' %>
			</div> <!-- /Comments -->
		</div> <!-- /Cols -->
	</div> <!-- /Row -->
</div> <!-- /Container-fluid and post-content -->

<%#= @post.highest_rating_comment %>