<!DOCTYPE html>
<html>
  <head>
    <title>Avocado Toast</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="project-name navbar-brand">
				    <%#= image_tag 'avocado_toast.jpg', class: "blog-logo" %>
					</div> <!-- /Project name -->
				</div> <!-- /Navbar-header -->

		    <div class="navbar-collapse collapse">
		      <ul class="nav navbar-nav navbar-right">
		      	<!-- Links -->
		      </ul> <!-- /Links to pages -->

		      <ul class="nav pull-right">
		      	<!-- Links -->
		      </ul> <!-- /User login and logout session options -->
		    </div> <!-- /Navbar-collapse -->
		  </div> <!-- /Container-fluid -->
		</nav> <!-- /Navbar-->


		<!-- flash tags for Welcome Message upon user sign-in -->
    <% if notice %>
      <p id="notice" class="alert alert-info"><%= notice %></p>
      </div>
    <% elsif alert %>
      <p id="notice" class="alert alert-warning"><%= alert %></p>
      </div>
    <% end %> <!-- /flash tag notice -->


    <div class="post-index-content">
		  <div class="container-fluid">
		    <div class="row">
		    	<div class="col-md-8" id="posts-index">
			    <%= yield %>
			   	</div> <!-- /Col -->

			   	<div class="col-md-4" id="sidebar">
			    <%= render '/posts/sidebar' %>
				  </div> <!-- /Col -->
			  </div> <!-- /Row -->
			</div> <!-- /Container-fluid -->


		<footer class="footer">
			<div class="copyright">
		  	&copy; 2017 Avocado Toast - All Rights Reserved
		  </div> 
		</footer> <!-- /Footer -->


		<!-- JavaScript -->
		<!-- Bootstrap jQ -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>
