<!-- The app.html.erb file provides the basic layout for each of you
	websites web pages, including navigation links, headers, footers, and other 
	general structure. This is your hub. -->

<!DOCTYPE html>
<html>
  <head>
    <title>Test Blog</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

  </head>

  <body>

		<nav class="nav">
			<div class="navbar-header">
				<li><%= link_to "Test Blog", root_path %></li>
			</div> <!-- / Navbar-header -->
			<div class="navbar-right">
			  <ul>
			    <li><%= link_to "Posts", posts_path %></li>
			    <li><%= link_to "About", static_pages_about_path %></li>
			    <li><%= link_to "Contact", static_pages_contact_path %></li>
			  </ul> 
			</div> <!-- /Navbar-right -->
		</nav> <!-- /Nav -->

    <%= yield %>

		<footer class="footer">
			<div class="copyright">
		  	&copy; 2017 Test Blog - All Rights Reserved
		  </div> <!-- /Copyright -->
		</footer> <!-- /Footer -->

	<!-- JavaScript -->

	<!-- Bootstrap jQ -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>
